@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; 
  background-image: url("random-mathematical-symbol-gradient-pastel-pattern-background-vector.jpg");
  background-color: antiquewhite;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.button{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid rgb(12, 9, 9);
  border-radius: 9px;
  cursor: pointer;
}

.row{
  margin: 8px 0;
}
.row input{
  width: 291px;
  font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid rgb(15, 12, 12);
    border-radius: 5px;
}